:root {
    --clr-1: #121929;
    --clr-2: #52555b;

    --blue1: #466ddf;
    --blue2: #5478e6;
    --blue3: #b8dbff;
    --blue4: #3451b4;

    --body-bg: #eef1fa;

    --border: #e6e6e6;
    --placeholder: #bcc0c8;

    --fw-bold: 700;
    --fw-medium: 600;
    --fw-semi: 500;
    --fw-normal: 400;
}

.container {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
    color: var(--blue1);
    margin-bottom: .5rem;
}

header .material-symbols-outlined {
    color: white;
    background-color: var(--blue1);
    padding: 1rem;
    border-radius: 50%;
    font-size: 3rem;
    margin-bottom: 1rem;
}

header p {
    color: var(--clr-1);
    font-weight: var(--fw-semi);
}

/* Ingredent Input */

.enter-ing-section {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 2rem 1rem 1rem;
    border-radius: .5px;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}

#add-ing {
    width: 100%;
    padding: .5rem;
    margin: 0 auto;
}

.ing-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#add-ing label {
    color: var(--clr-2);
    font-weight: var(--fw-semi);
    font-size: 1rem;
    transform: translateY(-30px);
    overflow: hidden;
}

#add-ing input {
    box-sizing: border-box;
    border-bottom: none;
    border: 2px solid var(--border);
    border-radius: .5rem;
    padding: 0 1rem;
    width: 100%;
    font-weight: 500;
}

#add-ing input::placeholder {
    font-weight: var(--fw-normal);
    color: var(--placeholder);
}

#add-ing input:focus {
    box-shadow: none;
    border: 2px solid var(--blue1);
}

#add-ing button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--blue1);
    gap: .5rem;
    cursor: pointer;
}

#add-ing button:hover {
    background-color: var(--blue4);
}

#add-ing button p {
    line-height: 0;
}

#add-ing button span {
    font-size: 20px;
    line-height: 0;
}

/* INGREDIENT SECTION */

.ing-section {
    margin: 0 auto;
    width: 100%;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 3rem 0 2rem;
    text-align: center;
}


/* INGREDIETN LISTING */

.ing-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    max-width: 900px;
    margin: 0 auto;
}

.ingredient-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid var(--border);
    gap: 1rem;
}

.ingredient-item:last-child {
    border-bottom: none;
}

.ingredient-name {
    font-size: 16px;
    font-weight: var(--fw-bold);
    color: var(--clr-1);
}

.ingredient-details {
    font-size: 14px;
    color: var(--clr-2);
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    font-size: 0.75rem;
    padding: 4px 8px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: var(--fw-medium);
    display: flex;
    align-items: center;
    gap: 4px;
    box-shadow: none;
}

.btn.edit {
    background-color: var(--blue1);
    color: white;
}

.btn.edit:hover {
    background-color: var(--blue4);
    box-shadow: none;
}

.btn.delete {
    background-color: #e53935;
    color: white;
}

.btn.delete:hover {
    background-color: #d91e10;
    box-shadow: none;
}


/* Edit Modal Styles */

.modal {
    border-radius: .5rem;
    max-width: 450px;
}

.modal-content div:not(:last-child) {
    margin-bottom: .5rem;
}

.edit-modal .modal-content h5 {
    margin: 0 0 15px;
    color: var(--clr-1);
    font-weight: var(--fw-bold);
    text-align: center;
}

.edit-modal .modal-content form label {
    color: var(--clr-2);
    font-weight: var(--fw-semi);
    font-size: 1rem;
}

.edit-modal .modal-content form input {
    box-sizing: border-box;
    border: 2px solid var(--border);
    border-radius: 0.5rem;
    padding: 0 1rem;
    width: 100%;
    font-weight: 500;
}

.ing-container .edit-modal .modal-content form input:focus {
    box-shadow: none;
    border: 2px solid var(--blue1);
    box-shadow: none;
}

.edit-modal .modal-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    box-shadow: none;
}

.edit-modal .modal-btn .btn.cancel {
    background-color: #e6e6e6;
    color: #333;
}

.edit-modal .modal-btn .btn.save {
    background-color: var(--blue1);
    color: white;
}

.edit-modal .modal-btn .btn.save:hover {
    background-color: var(--blue4);
}

/* Delete Modal Styles */
.delete-modal .modal-content h5 {
    margin: 0 0 15px;
    color: var(--clr-1);
    font-weight: var(--fw-bold);
    text-align: center;
}

.delete-modal .modal-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.delete-modal .modal-btn .btn {
    font-weight: var(--fw-medium);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.delete-modal .modal-btn .btn.cancel {
    background-color: #e6e6e6;
    color: #333;
}

.delete-modal .modal-btn .btn.cancel:hover {
    background-color: #d9d9d9;
}

.delete-modal .modal-btn .btn.delete-confirm {
    background-color: #f44336;
    color: white;
}

.delete-modal .modal-btn .btn.delete-confirm:hover {
    background-color: #d32f2f;
}


@media (max-width: 480px) {
    
    .delete-modal .modal-btn {
        justify-content: center;

        button {
            width: 100px;
            justify-content: center;
        }   
    }

    .edit-modal .modal-btn {
        justify-content: center;

        button {
            width: 100px;
            justify-content: center;
        } 
    }
}

@media (min-width: 480px) {
    .btn {
        font-size: 14px;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: var(--fw-medium);
        display: flex;
        align-items: center;
        gap: 5px;
    }
}

@media (min-width:768px) {

    .input-field {
        flex: 1;
    }
}
