:root {
    --clr-1: #121929;
    --clr-2: #52555b;

    --blue1: #466ddf;
    --blue2: #5478e6;
    --blue3: #b8dbff;
    --blue4: #3451b4;

    --body-bg: #eef1fa;

    --border: #e6e6e6;
    --placeholder: #bcc0c8;

    --fw-bold: 700;
    --fw-medium: 600;
    --fw-semi: 500;
    --fw-normal: 400;
}

/* Input Field Styling */
.row .input-field label {
    color: var(--clr-2);
    font-weight: var(--fw-semi);
    font-size: 1rem;
    position: static;
}

.row .input-field input {
    box-sizing: border-box;
    border-bottom: none;
    border: 2px solid var(--border);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
    font-weight: 500;
    box-shadow: none;
    margin-top: 5px;
    height: auto;
}

.row .input-field input::placeholder {
    font-weight: var(--fw-normal);
    color: var(--placeholder);
    box-shadow: none;
}

.row input:not(.browser-default):focus:not([readonly]) {
    box-shadow: var(--blue1);
    border: 2px solid var(--blue1);
}

/* Container Header Styling */
.container h1 {
    font-weight: var(--fw-bold);
    text-align: center;
    font-size: 2.5rem;
}

/* Form Container Styling */
.form-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 0.5rem;
}

@media (min-width: 425px) {
    .form-container {
        padding: 2rem;
    }
}

/* Login Button Styling */
.login-btn i {
    background-color: var(--blue1);
    margin: 0 auto;
    width: 100%;
}

.login-btn i:hover {
    background-color: var(--blue4);
}

.login-btn input[type="submit"] {
    color: white;
    font-weight: var(--fw-bold);
    cursor: pointer;
    width: 100%;
    height: 100%;
}