{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
{% endblock %}

{% block content %}
<h1>Welcome Back</h1>
<div class="form-container row">
  <form action="/login" method="POST" novalidate>
    <div class="row">
      <div class="input-field col s12">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" placeholder="Enter your username" required />
        {% if errorsDict["username_error"] %}
          <span style="color: red;">{{ errorsDict["username_error"] }}</span>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="password">Password</label>
        <input id="password" name="password" type="password" placeholder="Enter your password" required />
        {% if errorsDict["password_error"] %}
          <span style="color: red;">{{ errorsDict["password_error"] }}</span>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn waves-effect waves-light">Log in</button>
    </div>
  </form>
</div>
{% endblock %}