{% extends 'base.html' %}
{% block title %} Register {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
{% endblock %}

{% block content %}
<h1>Create Account</h1>
<div class="form-container row">
  <form action="/register" method="POST" novalidate>
    <div class="row">
      <div class="input-field col s12">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" placeholder="Enter your username" required />
        {% if errorsDict["username_error"] %}
          <span style="color: red;">{{ errorsDict["username_error"] }}</span>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="password1">Password</label>
        <input id="password1" name="password1" type="password" placeholder="Enter your password" required />
        {% if errorsDict["password1_error"] %}
          <span style="color: red;">{{ errorsDict["password1_error"] }}</span>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="password2">Confirm Password</label>
        <input id="password2" name="password2" type="password" placeholder="Confirm your password" required />
        {% if errorsDict["password2_error"] %}
          <span style="color: red;">{{ errorsDict["password2_error"] }}</span>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn waves-effect waves-light">Create Account</button>
    </div>
  </form>
</div>
{% endblock %}